# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Makefiles
Makefile

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# pytest
.pytest_cache/
.coverage
htmlcov/ 
.python-version
